<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PiCamMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <applicationSettings>
        <PiCamMonitor.Properties.Settings>
            <setting name="PiMotionImagePath" serializeAs="String">
                <value>/home/pi/mmal-images</value>
            </setting>
            <setting name="LocalBaseDownloadPath" serializeAs="String">
                <value>G:\PiCamMonitor</value>
            </setting>
            <setting name="PiFps" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PiUserName" serializeAs="String">
                <value>pi</value>
            </setting>
            <setting name="PiPassword" serializeAs="String">
                <value>raspberry</value>
            </setting>
            <setting name="PiSshHostKeyFingerprint" serializeAs="String">
                <value>ssh-rsa 2048 xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx</value>
            </setting>
            <setting name="PiHost" serializeAs="String">
                <value>192.168.2.43</value>
            </setting>
            <setting name="PiStreamUrl" serializeAs="String">
                <value>http:\\192.168.2.43:8081</value>
            </setting>
            <setting name="DownloadInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DownloadAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseNotificationArea" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PiEventPort" serializeAs="String">
                <value>2123</value>
            </setting>
            <setting name="EventStartSound" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowLifeFeedOnEventStart" serializeAs="String">
                <value>True</value>
            </setting>
        </PiCamMonitor.Properties.Settings>
    </applicationSettings>
</configuration>
